{% extends 'root.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
    <section class="content">
            <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ position_count }}</h3>
              <p>No. of Positions</p>
            </div>
            <div class="icon">
              <i class="fa fa-tasks"></i>
            </div>
            <a href="{% url 'administrator:viewPositions' %}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ candidate_count }}</h3>          
              <p>No. of Candidates</p>
            </div>
            <div class="icon">
              <i class="fa fa-black-tie"></i>
            </div>
            <a href="{% url 'administrator:viewCandidates' %}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>{{ voters_count }}</h3>             
              <p>Total Voters</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a href="{% url 'administrator:adminViewVoters' %}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-maroon">
            <div class="inner">
              <h3>{{ voted_voters_count }}</h3>
              <p>Voters Voted</p>
            </div>
            <div class="icon">
              <i class="fa fa-edit"></i>
            </div>
            <a href="{% url 'administrator:viewVotes' %}" class="small-box-footer">More Info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h3>Votes Tally
            <span class="pull-right">
              <a href="{% url 'administrator:printResult' %}" class="btn btn-success btn-sm btn-flat"><span class="glyphicon glyphicon-print"></span> Print/Download PDF <i class="fa fa-download"></i></a>
            </span>
          </h3>
        </div>
      </div>

     {% for position in positions %}
     {% if not forloop.counter|divisibleby:2 %}
     <div class='row'>
     {% endif %}
     <div class='col-sm-6'>
      <div class='box box-solid'>
        <div class='box-header with-border'>
          <h4 class='box-title'><b>{{ position.name }}</b></h4>
        </div>
        <div class='box-body'>
          <div class='chart'>
            <canvas id='position-{{ position.id }}' style='height:200px'></canvas>
          </div>
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
     </div>
     {% endif %}

     {% endfor %}
     {% if not forloop.counter|divisibleby:2 %}
     </div>
     {% endif %}
      </section>
      
      {% endblock content %}

      <!-- New Block -->
      {% block custom_js %}
      <script src="{% static 'bower_components/chart.js/Chart.js' %}"></script>
<!-- ChartJS Horizontal Bar -->
<script src="{% static 'bower_components/chart.js/Chart.HorizontalBar.js' %}"></script>
      
{% for position_name, value in chart_data.items %}
<script>
  $(function() {
    var rowid = '{{ value.pos_id|escapejs }}';
    var chartId = 'position-' + '{{ value.pos_id|escapejs }}';
    var barChartCanvas = $('#' + chartId).get(0).getContext('2d');
    
    var candidatesData = JSON.parse('{{ value.candidates|safe|escapejs }}');
    var votesData = JSON.parse('{{ value.votes|safe|escapejs }}');
    
    var barChartData = {
      labels: candidatesData,
      datasets: [{
        label: 'Votes',
        backgroundColor: 'rgba(60,141,188,0.9)',
        borderColor: 'rgba(60,141,188,0.8)',
        borderWidth: 2,
        data: votesData
      }]
    };

    var barChartOptions = {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        x: {
          beginAtZero: true,
          grid: {
            color: 'rgba(0,0,0,.05)',
            lineWidth: 1
          },
          ticks: {
            stepSize: 1
          }
        },
        y: {
          grid: {
            display: false
          }
        }
      },
      plugins: {
        legend: {
          display: false
        }
      },
      elements: {
        bar: {
          borderWidth: 2,
        }
      },
      barPercentage: 0.9,
      categoryPercentage: 0.8
    };

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    });
  });
</script>
{% endfor %}

{% endblock custom_js %}